@import "../../styles/variables";

#navbar-button-tasks, #navbar-button-logout, #navbar-button-auth {
  background-color: bisque;
  color: black;
  padding: 0px 10px;
  margin: 10px;
  border-radius: 5px;
  font-family:$philosopher-font !important;
  font-size: 1.25em;
  max-width:350px;
}
.nav-item {
  margin: 0 auto;
}
#navbar-button-tasks:hover {
  background-color: cadetblue;
  cursor: pointer;
}
#navbar-button-auth:hover {
  background-color: cadetblue;
  cursor: pointer;
}
#navbar-button-logout:hover {
  background-color: cadetblue;
  cursor: pointer;
}

@media (min-width:992px) {
  .nav-links{
      max-width: unset;
      margin: unset;
  }
}