@import "~bootstrap/scss/bootstrap";
@import "./styles/variables";

body {
  background-image: $backgroundImage;
  background-size: cover;
}
#completed-tasks {
  max-width: 500px;
  border-radius: 0.25em;
  display: inline-block;

  .heading-completed {
    font-family:$philosopher-font !important;
    @include default-font (2em);
  }
  .completed-task-text {
    font-family: $caveat-font;
    font-size: 1.75em !important;
    background-color: $backgroundColor;
  }
}
