@import "../../styles/variables";

.task {
  margin: $centerMargin;
  max-width: 500px;
  font-family: $caveat-font;
  font-size: 1.75em !important;
  .delete-button {
    margin-left: 50px;
  }
}
.header {
  font-family:$philosopher-font !important;
  @include default-font (2em);
  padding-top:30px;
}

.timeStamp {
  font-size: .65em !important;
}

